{% extends 'organization/_base.html' %}
{% load static %}
{% block content %}
{{ block.super }}
<div class="container">
    <h2>Create Listing</h2>
    <form class="form" method="post">
        {% csrf_token %}
        <div class="input-group input-lg">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="now-ui-icons business_badge"></i>
                </span>
            </div>
            <input type="text" class="form-control" id="job_title" name="job_title" placeholder="Job Title...">
        </div>
        <div class="input-group input-lg">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="now-ui-icons location_pin"></i>
                </span>
            </div>
            <input type="text" class="form-control" id="location" name="location" placeholder="Location...">
        </div>
        <div class="input-group input-lg">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fas fa-dollar-sign"></i>
                </span>
            </div>
            <input type="text" class="form-control" id="compensation" name="compensation"
                placeholder="Compensation Description..." />
        </div>
        <div class="input-group input-lg">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="now-ui-icons files_paper"></i>
                </span>
            </div>
            <input type="text" class="form-control" id="contract_type" name="contract_type"
                placeholder="Contract Type..." />
        </div>
        <div class="form-group">
            <textarea rows="6" class="form-control" id="job_description" name="job_description"
                placeholder="Job Description..."></textarea><br>
        </div>
        <div class="form-group input-lg">
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="relocation_assistance"> Relocation Assistance
                    <span class="form-check-sign">
                        <span class="check"></span>
                    </span>
                </label>
            </div>
        </div>
        <div class="form-inline input-lg">
            <div class="form-group md-col-8">
                <label for="positions_available">Positions Available:</label>
            </div>
            <div class="form-group md col-1 input-lg">
                <input type="number" class="form-control md-col-5 mr-auto" id="positions_available"
                    name="positions_available" value="1" min="1" max="15">
            </div>
        </div>
        <div class="form-row ml-auto mr-auto">
            <button class="btn btn-danger btn-round" type="button"
                onclick="location.href='{% url 'org-profile' organization_name %}'">
                <i class="now-ui-icons ui-1_simple-remove"></i>&#160;Discard Listing
            </button>
            <button class="btn btn-primary btn-round" type="submit">
                <i class="now-ui-icons ui-1_check"></i>&#160;Post Listing
            </button>
        </div>
    </form>
</div>

{% endblock content %}