{% extends 'organization/_base.html' %}
{% load static %}
{% block content %}
{{ block.super }}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h3>Listing</h3>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary btn-round ml-auto" type="button" onclick="location.href='{% url 'org-listing-edit' organization_name listing.id %}'">
                <i class="fas fa-pencil-alt"></i>&#160;Edit
            </button>
        </div>
    </div>
    <div class="typography-line">
        <h1>{{ listing.job_title }}</h1>
    </div>
    <div class="typography-line">
        <h5>{{ listing.location }}</h5>
    </div>
    <div class="typography-line">
        <p>{% if listing.relocation_assistance %}This position offers relocation assistance if needed.{% else %}Relocation assistance is not available for this position.{% endif %}</p>
    </div>
    <div class="typography-line">
        <p><i class="now-ui-icons business_money-coins"></i> {{ listing.compensation }}</p>
    </div>
    <blockquote class="blockquote">
        <h4>Description: </h4>
        <p>{{ listing.job_description }}</p>
    </blockquote>
    <div class="typography-line">
        <p>{{ listing.positions_available }} position{{listing.positions_available|pluralize}} available.</p>
    </div>
</div>
{% endblock content %}