{% extends 'organization/_base.html' %}
{% load static %}
{% block content %}
{{ block.super }}
<div class="container">
    <h2>Edit Profile</h2>
    <form class="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group input-lg">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="now-ui-icons business_briefcase-24"></i>
                </span>
            </div>
            <input type="text" class="form-control" name="company_name" {%if organization.company_name != ''%}
                value="{{organization.company_name}}" {% endif %} placeholder="Business Name...">
        </div>
        <div class="input-group input-lg">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="now-ui-icons ui-1_email-85"></i>
                </span>
            </div>
            <input type="email" class="form-control" name="email" {%if organization.email != ''%}
                value="{{organization.email}}" {% endif %} placeholder="Email...">
        </div>
        <div class="input-group input-lg">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="now-ui-icons tech_mobile"></i>
                </span>
            </div>
            <input type="tel" {%if organization.phone_number != ''%}
                value="{{organization.phone_number}}" {% endif %} placeholder="Phone Number..." name="phone_number" id="phone_number" class="form-control" />
        </div>
        <label for="address">Address: </label>
        <div class="input-group input-lg">

            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="far fa-building"></i>
                </span>
            </div>
            <input type="text" class="form-control" id="address" name="address" {%if organization.address != ''%}
                value="{{organization.address}}" {% endif %} placeholder="Address...">
        </div>
        <div class="form-group input-lg">
            <input type="text" class="form-control" id="inputCity" name="city" {%if organization.city != ''%}
                value="{{organization.city}}" {% endif %} placeholder="City...">
        </div>
        <div class="form-row">
            <div class="form-group col-md-5 input-lg">
                <select id="inputState" class="form-control" name="state"  >
                    <option {%if organization.state != ''%}
                value="{{organization.state}}" {% else %} value=""{% endif %} selected disabled>{%if organization.state != ''%}
                {{organization.state}}{% else %}State...{% endif %}</option>
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                    <option value="AR">Arkansas</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                    <option value="DE">Delaware</option>
                    <option value="DC">District Of Columbia</option>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="HI">Hawaii</option>
                    <option value="ID">Idaho</option>
                    <option value="IL">Illinois</option>
                    <option value="IN">Indiana</option>
                    <option value="IA">Iowa</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option>
                    <option value="ME">Maine</option>
                    <option value="MD">Maryland</option>
                    <option value="MA">Massachusetts</option>
                    <option value="MI">Michigan</option>
                    <option value="MN">Minnesota</option>
                    <option value="MS">Mississippi</option>
                    <option value="MO">Missouri</option>
                    <option value="MT">Montana</option>
                    <option value="NE">Nebraska</option>
                    <option value="NV">Nevada</option>
                    <option value="NH">New Hampshire</option>
                    <option value="NJ">New Jersey</option>
                    <option value="NM">New Mexico</option>
                    <option value="NY">New York</option>
                    <option value="NC">North Carolina</option>
                    <option value="ND">North Dakota</option>
                    <option value="OH">Ohio</option>
                    <option value="OK">Oklahoma</option>
                    <option value="OR">Oregon</option>
                    <option value="PA">Pennsylvania</option>
                    <option value="RI">Rhode Island</option>
                    <option value="SC">South Carolina</option>
                    <option value="SD">South Dakota</option>
                    <option value="TN">Tennessee</option>
                    <option value="TX">Texas</option>
                    <option value="UT">Utah</option>
                    <option value="VT">Vermont</option>
                    <option value="VA">Virginia</option>
                    <option value="WA">Washington</option>
                    <option value="WV">West Virginia</option>
                    <option value="WI">Wisconsin</option>
                    <option value="WY">Wyoming</option>
                </select>
            </div>
            <div class="form-group col-md-7 input-lg">
                <input type="text" class="form-control" id="inputZip" name="zip" {%if organization.zip != ''%}
                value="{{organization.zip}}" {% endif %} placeholder="Zip...">
            </div>
        </div>
        <label for="size">Company Details: </label>
        <div class="form-row">
            <div class="input-group col-md-6 input-lg col">
                <input type="text" class="form-control" id="size" name="size" {%if organization.size != ''%}
                value="{{organization.size}}" {% endif %} placeholder="Size" />
            </div>
            <div class="input-group col-md-6 input-lg col">
                <input type="text" class="form-control" id="sectors" name="sectors" {%if organization.sector != ''%}
                value="{{organization.sector}}" {% endif %} placeholder="Sector"/>
            </div>
        </div>
        <div class="input-group">
            <label for="description">Description: </label>
            <textarea rows="10" class="form-control" id="description"
                name="description">{{organization.description}}</textarea>
        </div>
        <div class="input-group input-lg">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="now-ui-icons ui-1_calendar-60"></i>
                </span>
            </div>
            <input type="date" class="form-control" id="date_founded" name="date_founded" value="{{ date_founded }}" />
        </div>
        <div class="form-row">
            <div class="input-group input-lg col-md-6">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="now-ui-icons users_circle-08"></i>
                    </span>
                </div>
                <label for="profile_picture" class="form-control">Choose a profile picture:</label>
                <input type="file" class="form-control" id="profile_picture" name="profile_picture"
                    accept="image/png, image/jpeg, image/jpg, image/gif" />
            </div>
            <div class="input-group input-lg col-md-6">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="now-ui-icons design_image"></i>
                    </span>
                </div>
                <label for="cover_picture" class="form-control">Choose a cover photo:</label>
                <input type="file" class="form-control" id="cover_picture" name="cover_picture"
                    accept="image/png, image/jpeg, image/jpg" />
            </div>
        </div>
        <div class="form-row ml-auto mr-auto">
            <button class="btn btn-danger btn-round" type="button"
                onclick="location.href='{% url 'org-profile' organization_name %}'">
                <i class="now-ui-icons ui-1_simple-remove"></i>&#160;Discard Changes
            </button>
            <button class="btn btn-primary btn-round" type="submit">
                <i class="now-ui-icons ui-1_check"></i>&#160;Save Profile
            </button>
        </div>
    </form>
</div>

{% endblock content %}