{% extends 'organization/_base.html' %}
{% load static %}
{% block content %}
{{ block.super }}
<div class="container">
    <form class="form" method="post">
    {% csrf_token %}
        <input type="text" class="form-control" id="company_name" name="company_name" value="{{ organization.company_name }}"/>
        <input type="text" class="form-control" id="size" name="size" value="{{organization.size}}"/>
        <input type="text" class="form-control" id="sectors" name="sectors" value="{{organization.sectors}}"/>
        <textarea rows="10" class="form-control" id="description" name="description">{{organization.description}}</textarea>
        <input type="date" class="form-control" id="date_founded" name="date_founded" value="{{organization.date_founded}}"/>
        <label for="profile_picture">Choose a profile picture:</label>
        <input type="file" id="profile_picture" name="profile_picture" accept="image/png, image/jpeg, image/jpg, image/gif">
        <label for="cover_picture">Choose a cover photo:</label>
        <input type="file" id="cover_picture" name="cover_picture" accept="image/png, image/jpeg, image/jpg">
        <button class="btn btn-primary btn-round ml-auto" type="button" onclick="location.href='{% url 'org-profile' organization_name %}'">
            <i class="now-ui-icons ui-1_check"></i>&#160;Continue Without Saving
        </button>
        <button class="btn btn-primary btn-round ml-auto" type="submit">
            <i class="now-ui-icons ui-1_check"></i>&#160;Save Profile
        </button>
    </form>
</div>

{% endblock content %}