{% extends 'organization/_base.html' %}
{% load static %}
{% block content %}
{{ block.super }}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>Application</h3>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary btn-round ml-auto" type="button" data-toggle="modal"
                data-target="#offerModal">
                <i class="now-ui-icons ui-1_send"></i>&#160;Extend Offer
            </button>
            <button class="btn btn-danger btn-round ml-auto" type="button" data-toggle="modal"
                data-target="#declineModal">
                <i class="now-ui-icons ui-1_simple-remove"></i>&#160;Decline
            </button>

            <!-- Decline Modal -->
            <form method="post">
                {% csrf_token %}
                <div class="modal fade" id="declineModal" tabindex="-1" role="dialog"
                    aria-labelledby="declineModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to decline this
                                    application?</h5>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No, Go
                                    Back</button>
                                <button type="submit" name="submit" class="btn btn-danger" value="decline">Yes,
                                    Decline</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Extend Modal -->
                <div class="modal fade" id="offerModal" tabindex="-1" role="dialog" aria-labelledby="offerModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">

                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="offerModalLabel">Offer Details</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-row">
                                    <div class="col">
                                        <label for="start_date">Start Date:</label>
                                    </div>
                                    <div class="col">
                                        <input type="date" name="start_date" id="start_date"
                                            class="form-control" data-datepicker-color="primary">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <label for="deadline">Response Deadline:</label>
                                    </div>
                                    <div class="col">
                                        <input type="date" class="form-control" name="deadline"
                                            id="deadline" data-datepicker-color="primary">
                                    </div>
                                </div>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="compensation"
                                        placeholder="Compensation">
                                </div>
                                <textarea class="form-control" name="message" placeholder="Message" rows="4"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" name="submit" class="btn btn-primary" value="accept">Extend
                                    Offer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            {% comment %} End Modal {% endcomment %}
        </div>
    </div>
    <div class="typography-line">
        <h1>{{ application.applicant }} - {{application.listing.job_title}}</h1>
    </div>
    <div class="typography-line">
        <h6>Location Listed: {{ application.listing.location }}</h6>
    </div>
    <div class="typography-line">
        <p>{% if application.listing.relocation_assistance %}You've offered relocation assistance for this position.{% else %}Relocation assistance is not available for this position.{% endif %}</p>
    </div>
    <div class="typography-line">
        <p><i class="fas fa-dollar-sign"></i> Compensation Listed: {{ application.listing.compensation }} | <i
                class="now-ui-icons files_paper"></i> Contract Type Listed: {{listing.contract_type}}</p>
    </div>
    <div class="typography-line">
        <p><i class="now-ui-icons ui-1_calendar-60"></i> Application recieved: {{ application.application_date }}</p>
    </div>
    <div class="typography-line">
        <p><i class="now-ui-icons ui-2_time-alarm"></i> Applicant Available Starting Date: {{ application.application_date }}</p>
    </div>
    <div class="border-left border-secondary pl-3">
        <h4>About Applicant: </h4>
        <p>{{ application.applicant.about_me }}</p>
    </div>
    <div class="typography-line">
        <h6>{{ listing.positions_available }} position{{listing.positions_available|pluralize}} available.</h6>
    </div>
</div>
{% endblock content %}