{% extends 'applicant/_base.html' %}
{% load static %}
{% block content %}
{{ block.super }}
<div class="container">
<h1>Offers</h1>
<div class="row">
{% for offer in offers %}

<div class="col-md-10 col-xl-6">
    <!-- Tabs with Background on Card -->
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="orange">
                <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#offer{{offer.id}}" role="tab" aria-selected="true">Offer</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#moreinfo{{offer.id}}" role="tab" aria-selected="false">Message</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'offer' username offer.id %}">View Offer</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <!-- Tab panes -->
            <div class="tab-content text-left">
                <div class="tab-pane active" id="offer{{offer.id}}" role="offer{{offer.id}}">
                    <p>Organizatino: {{offer.application.listing.organization}}</p>
                    <p>Job Title: {{offer.application.listing.job_title}}</p>
                    <p>Location: {{offer.application.listing.location}}</p>
                    <p>Status: {{offer.status}}</p>
                </div>
                <div class="tab-pane" id="moreinfo{{offer.id}}" role="moreinfo{{offer.id}}">
                    <p>Message from Company: {{offer.message}}</p>
                </div>
                
            </div>
        </div>
    </div>
    <!-- End Tabs on plain Card -->
</div>
{% endfor %}
</div>
</div>

{% endblock content %}