{% extends 'applicant/_base.html' %}
{% load static %}
{% block page-class %}profile-page{% endblock page-class %}
{% block content %}
{{ block.super }}
<div class="wrapper">
  <div class="page-header page-header-small">
    <div class="page-header-image" data-parallax="true"
      style="background-image:url('{{ applicant.cover_picture.url }}');">
    </div>
    <div class="container">
      <div class="photo-container">
        <img src="{{ applicant.profile_picture.url }}" alt="profile picture">
      </div>
      <h3 class="title">{{applicant}}</h3>
      <p class="category">{{applicant.city}}, {{applicant.state}}</p>
      <div class="content">
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="button-container">
        <a href="{% url 'listings' applicant.username %}" class="btn btn-primary btn-round btn-lg">See Listings </a>
      </div>
      <h3 class="title">About {{applicant}}</h3>
      <h5 class="description">{{applicant.about_me}}</h5>
    </div>
  </div>
</div>
</body>
{% endblock content %}